@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
/* @import url("./reset.css"); */
html {
  background: rgb(231, 231, 231);
}
.App {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: row;
  gap: 16px;
  height: 100%;
}
.book_search {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.search_and_results {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.searh_form {
  border: 2px solid black;
  background: white;
  padding: 24px;
  display: flex;
  flex-direction: column;
  width: 300px;
}
.search_field {
  width: 100%;
  /* display: flex; */
  /* flex-direction: row; */
}
.book_results {
  border: 2px solid black;
  background: white;
  padding: 24px;
  width: 300px;
}
.single_book_result {
  border: 2px solid black;
  border-radius: 8px;
  background: white;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 16px;
}
.book_thumbnail_info {
  display: flex;
  align-items: center;
  gap: 16px;
}
.book_thumbnail {
  width: 80px;
  height: auto;
  border-radius: 4px;
}

.book_info {
  flex-grow: 1;
}

.book_info h4 {
  margin-top: 0;
  margin-bottom: 4px;
}

.book_info p {
  font-size: 14px;
  margin: 0;
  color: #555;
}
.form_book_details {
  border: 2px solid black;
  background: white;
  padding: 24px;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 80vh;
  overflow-y: scroll;
  position: relative;
}
.detail_field {
  display: flex;
  flex-direction: column;
}
.details_footer {
  border: 2px solid black;
  background: white;
  padding: 24px;
  background: white;
  display: flex;
}
.list_of_books {
  border: 2px solid black;
  background: white;
  padding: 24px;
  display: flex;
  flex-direction: column;
  width: 300px;
}

button {
  padding: 8px;
  font-size: 16px;
  background: #275efe;
  color: white;
  border-radius: 8px;
  border: none;
}
label {
  font-size: 16px;
}
input {
  font-size: 16px;
  padding: 8px;
  margin-bottom: 8px;
  border-radius: 8px;
  border: 2px gray solid;
}
